* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  position: relative;
  top: 60px;
  font-family: Arial, sans-serif;
  padding: 20px;
  /* background: url(./Imagens/background.png) no-repeat center center fixed;*/
  background: linear-gradient(to left, #74d3b3, #e7fcf7);
  box-sizing: unset;
}

h1 {
  color: #333;
}
header {
  position: fixed;
  top: 0;
  width: 98%;
  height: 80px;
  z-index: 10;
  background: linear-gradient(to left, #74d3b3, #e7fcf7);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cabecalho h1 {
  font-size: 40px;
  color: #1fc0c0;
}
.cabecalho input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid #3daa98;
  border-radius: 20px;
}
.cabecalho input[type="text"]:focus {
  border-color: #1fc0c0;
  outline: none;
}

#logo{
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

section {
  margin-bottom: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  max-width: 300px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.success {
  color: green;
}
.error {
  color: red;
}
table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}
.btn-logoff {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-logado {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}

.coluna-esquerda,
.coluna-direita {
  flex: 1;
  min-width: 300px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

#usuariosNaoLogados li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

#usuariosNaoLogados li button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

#listaRamaisDisponiveis li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

#listaRamaisDisponiveis li button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.linha-formularios,
.linha-listas {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.linha-formularios section,
.linha-listas section {
  flex: 1;
  min-width: 300px;
}

.botoes-ramais {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
