<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Gestão de Ramais</title>
    <link rel="stylesheet" href="estilo.css" />
  </head>

  <body>
    <header>
      <div class="cabecalho">
        <img src="Imagens/logo.png" id="logo" alt="Logo" class="logo" />
        <h1>Gestão de Ramais</h1>
        <input type="text" id="pesquisa" placeholder="Pesquisar..." />
      </div>
    </header>
    <!-- Linha com 1, 2 e 3 -->
    <div class="linha-formularios">
      <section>
        <h2>1. Cadastrar Usuário</h2>
        <form id="usuarioForm">
          <input type="text" id="nome" placeholder="Nome" required />
          <input type="email" id="email" placeholder="Email" required />
          <button type="submit">Cadastrar</button>
        </form>
      </section>

      <section>
        <h2>2. Gerar Ramais Disponíveis</h2>
        <form id="gerarRamaisForm">
          <input
            type="number"
            id="inicioRamal"
            placeholder="Ramal Inicial"
            required
          />
          <input
            type="number"
            id="fimRamal"
            placeholder="Ramal Final"
            required
          />
          <div class="botoes-ramais">
            <button type="submit">Gerar Ramais</button>
            <button type="button" id="btnExcluirRamais">Excluir Ramais</button>
          </div>
        </form>
      </section>
      <section>
        <h2>3. Logar em Ramal</h2>
        <form id="logarForm">
          <select id="usuarioSelect" required></select>
          <select id="ramalSelect" required></select>
          <button type="submit">Logar</button>
        </form>
      </section>
    </div>

    <!-- Linha com 4 e 5 -->
    <div class="linha-listas">
      <section>
        <h2>4. Usuários Não Logados</h2>
        <ul id="usuariosNaoLogados"></ul>
      </section>

      <section>
        <h2>5. Ramais Disponíveis</h2>
        <ul id="listaRamaisDisponiveis"></ul>
      </section>
    </div>

    <!-- Abaixo de tudo: Tabela -->
    <section>
      <h2>6. Usuários Logados</h2>
      <table id="usuariosLogadosTable">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ramal</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>

    <script src="script.js"></script>
  </body>
</html>
